<div class="card">
    <div class="mt-8 overflow-hidden rounded-xl shadow-xl">
        <img src="//cdn.0x13.se/src/img/giphy.webp" alt="" class="w-96 h-44 md:w-full md:h-60 object-cover pointer-events-none">
        <div class="px-6 py-4 bg-white">
            <div class="flex justify-center">
                <div class="justify-center pt-5 max-w-md md:max-w-xl -mt-10">
                    <div class="-mt-[50px] md:-mt-[75px]">
                        <img src="//cdn.0x13.se/src/img/goku.jpg" alt="" class="w-[110px] h-[110px] md:w-[160px] md:h-[160px] rounded-full outline outline-gray">
                    </div>
                </div>
            </div>
            <div class="mt-2 flex flex-col items-center justify-center">
                <h1 class="font-bold text-xl md:text-2xl text-black">Ahmad Farhan</h1>
                <p class="text-sm md:text-base text-gray flex items-center justify-center"><ion-icon class="mr-1" name="location-sharp"></ion-icon>Bandung, ID</p>
                <hr class="w-72 md:w-5/6 h-1 mx-auto my-4 bg-gray border-t rounded">
                <div class="flex items-center justify-center space-x-4 my-2">
                    <a href="https://github.com/ahmadxp" class="w-40 md:w-60 py-2 md:py-3 bg-black text-white text-sm md:text-base shadow-sm rounded-md flex items-center justify-center"><ion-icon class="mr-1" name="logo-github"></ion-icon>Github</a>
                    <a href="https://ahmad.0x13.se/" target="_blank" class="w-40 md:w-60 py-2 md:py-3 bg-black text-white text-sm md:text-base shadow-sm rounded-md flex items-center justify-center"><ion-icon class="mr-1" name="earth-sharp"></ion-icon>Website</a>
                </div>
            </div>
        </div>
    </div>
</div>
